body {
  margin: 0;
}

#extension-menu {
  display: flex;
  flex-direction: column;
  width: 276px;
  gap: 16px;
  padding: 12px;
  background-color: #1e1e1e;
}

#top {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

#title {
  font-family: "Inter-Medium", Helvetica, system-ui;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
}

.icon {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.change-model {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

#score-container {
  font-family: "Inter-Light", Helvetica, system-ui;
  font-weight: 300;
  text-align: center;
  margin: 20px 0;
}

#score {
  font-size: 40px;
}

.na-score {
  color: #ffffff;
}

.good-score {
    color: #89e746;
}

.medium-score {
  color: #e7e446;
}

.bad-score {
  color: #e74646;
}

#score-max {
  color: #ffffff;
  font-size: 14px;
}

#score-text {
  font-family: "Inter-Regular", Helvetica, system-ui;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
}

#summary-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subtitle {
  font-family: "Inter-Regular", Helvetica, system-ui;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
}

.hideElement {
  display: none;
}